Source: video-pi
Section: x11
Priority: optional
Maintainer: Jakub Valenta <jakub@jakubvalenta.cz>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://videopi.saloun.cz/
Vcs-Browser: https://www.github.com/jakubvalenta/video-pi-pkg
Vcs-Git: https://www.github.com/jakubvalenta/video-pi-pkg.git

Package: video-pi
Architecture: all
Depends: fd-find, omxiv, udevil (>= 0.4.4+), vlc, ${shlibs:Depends}, ${misc:Depends}
Description: video player for artists by artists
 Plays all files on a USB stick in a loop using vlc or omxiv when the device is
 connected.
