Source: video-pi
Section: x11
Priority: optional
Maintainer: Jakub Valenta <jakub@jakubvalenta.cz>
Build-Depends: cmake, debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://video-pi.ooooo.page/
Vcs-Browser: https://www.github.com/jakubvalenta/video-pi
Vcs-Git: https://www.github.com/jakubvalenta/video-pi.git

Package: video-pi
Architecture: armhf
Depends: fd-find, pqiv, udevil (>= 0.4.5), vlc, ${shlibs:Depends}, ${misc:Depends}
Description: video player that plays files from a USB stick
 Designed for art installations and similar presentations. No maintenance or
 remote control required.
